*{ 
  margin: 0;
  padding: 0;
}

html{
  font-size: 24px;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  max-width: 700px;
  display: flex;
  margin: 40px auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 70px;
}

td, th {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  margin: 0;
}

button {
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 20px;
}

input[type="number"] {
  font-size: 1rem;
  text-align: center;
  max-width: 4rem;
  border-color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {

	display: none;

}

h3 {
  margin-bottom: 15px;
}

.cell {
  position: relative;
}

.cell.in-cycle {
  border: 1px solid black;
  background: rgb(234, 255, 237);
  margin: 1px;
}

.cell *{
  position: absolute;
}

.cell .val {
  bottom: 10px;
  right: 10px;
}

.cell .c {
  color: #A00;
  top: 10px;
  left: 10px;
}

.cell .c_ {
  color: #009;
  bottom: 10px;
  left: 10px;
}